## .NET Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## Visual Studio / VS Code / JetBrains Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## macOS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

## Windows / Misc
Thumbs.db
ehthumbs.db
*.log
